@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
    align-items: center;
    align-content: center;
}

.page {
    max-width: 500px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(249, 249, 246); */
    color: ghostwhite;
}

.nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.App{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, ghostwhite 0%, #FBFBBA 100%);
    font-size: 24px;
    font-family: 'Cutive Mono', monospace;
}