@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(249, 249, 246); */
    color: ghostwhite;
}

.nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.App{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, ghostwhite 0%, #FBFBBA 100%);
    font-size: 24px;
    font-family: 'Cutive Mono', monospace;
}